<div class="container-fluid" id="maincore">
  <div class="row">
    <div class="col-md-12">
        <h4 class="gradtext">Bello Italiano</h4>
        <h5 class="gradtext">Cucina Dei Sapori</h5>
    </div>
  </div>
</div>
<br />

<div>
  <p>System Built with Angular6 and Bootstrap4 with JSON data for menu and customer  to create new data to allow billing to customer for menu order on table</p>
</div>
<br />

<ul class="list">

  <a href="">
  <li class="list-item">
    <div class="list-content">
      <p>Add Customer</p>
    </div>
  </li></a>

  <a href="">
  <li class="list-item">
    <div class="list-content">
      <p>Add Customer</p>
    </div>
  </li></a>

  <a href="">
  <li class="list-item">
    <div class="list-content">
      <p>Add Customer</p>
    </div>
  </li></a>

  <a href="">
  <li class="list-item">
    <div class="list-content">
      <p>Add Customer</p>
    </div>
  </li></a>

<!--  <a href="">
  <li class="list-item">
    <div class="list-content">
      <p>Add Customer</p>
    </div>
  </li></a>


  <a href="">
  <li class="list-item">
    <div class="list-content">
      <p>Add Customer</p>
    </div>
  </li></a> -->

</ul>




<!-- <div class="container-fluid" > -->
<!--  <div class="row flexrow" >
    <div class="col-md-6" class="probuttonleft">
    <p>Add Customer</p>
    </div>
    <div class="col-md-6" class="probuttonright">
    <p>Take Order</p>
    </div>
  </div> -->
<!-- </div -->
